body {
    margin:0;
    text-align: center;
    font-family: "Lato";
}

ul.centered {
  display: table;
  margin: 0 auto;
}

ul.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

ul.menu-bar li {
    float: left;
}

ul.menu-bar li a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu-bar li a:hover {
    #color: #00FF00;
    background-color: #555;
}
